<div class="thumbnail">
  <img src="http://placehold.it/820x230">
  <!-- <h4 class="pull-right">{{product?.price}}元</h4> -->
  <h4>{{product?.name}}</h4>
  <p>{{product?.desc}}</p>
  <div>
    <p class="pull-right">有{{hotSpringIntros?.length}}篇介绍</p>
    <p>
      <app-stars [rating]="product?.rating"></app-stars>
    </p>
  </div>
</div>

<div class="well">
  <div>
    <button class="btn btn-success" (click)="isCommentHidden = !isCommentHidden">发表评论</button>
  </div>
  <div [hidden] = "isCommentHidden">

      <form role="form" name="addForm" [formGroup]="formModel" (ngSubmit)="addComment()" novalidate>
          <div><app-stars [(rating)]="newRating" [readonly]="false"></app-stars></div>
          <div>
            温泉介绍网址：<textarea [(ngModel)]="newComment" formControlName="url" id="hotSpringIntroUrl" type="text" class="form-control"></textarea>
          </div>
          <div>
            温泉头图网址：<textarea [(ngModel)]="newIntroPic" formControlName="imgUrl" id="hotSpringIntroImgUrl" type="text" class="form-control"></textarea>
          </div>
          <div>
            <!-- <button class="btn" (click)="addComment()">提交</button> -->
            <input type="submit" class="btn btn-primary btn-block" value="提交">
          </div>

      </form>

 
  </div>
  <div class="row" *ngFor="let hotSpringIntro of hotSpringIntros">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="hotSpringIntro.rating"></app-stars>
      <span>{{hotSpringIntro.url}}</span>
      <!-- <span>{{comment.user}}</span> -->
      <!-- <span class="pull-right">{{comment.timestamp}}</span> -->
      <p></p>
      <span>{{hotSpringIntro.imageUrl}}</span>
      <!-- <p>{{comment.content}}</p> -->
    </div>
  </div>
</div>