<!--
<div class="row">
    <div class ="col-sm-12">
        <div class="form-group">
            <input class="form-control" placeholder="请输入名称"
            [formControl]="titleFilter">
        </div>
    </div>
</div>
-->
<!-- <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let product of products | filter: 'title':keyword"> -->
<div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let product of products ">              
  <div class="thumbnail">
      <img [src]="imageUrl" alt="商品图片">
      <div class="caption">
          <!-- <h4 class="pull-right">
              ￥{{product.price}}
          </h4> -->
          <h4 class="pull-right">
                <button class="btn btn-danger" (click)="deleteHotSpring(product.id)">删除</button>
          </h4>
          <h4>
              <a [routerLink]="['/hotSpringFindById',product.id]">
                  {{product.name}}介绍
              </a>
              <p></p>
              <a [routerLink]="['/hotSpringResFindById',product.id]">
                {{product.name}}消费
            </a>
          </h4>
          <!-- <p>
              {{product.desc}}
          </p> -->

      </div>
      <div>
        <app-stars [rating]="product.rating">
        </app-stars>
      </div>
  </div>
</div>